<div class="w-full py-6 nav-after bg-cover">
  <div class="z-20 container px-3 md:px-0 mx-auto flex flex-wrap items-center justify-between">
    <div class="text-white ml-2 md:ml-0 mb-2 md:mb-0" *ngIf="!isLoggedIn">
      <h6>{{ translation?.Welcome }}!</h6>
      <h3 class="font-bold text-2xl">{{ translation?.Guest }}</h3>
    </div>
    <div class="text-white ml-2 md:ml-0 mb-2 md:mb-0" *ngIf="isLoggedIn">
      <h6>{{ translation?.Welcome }}!</h6>
      <h3 class="font-bold text-2xl"
        >{{ userData?.userDetails.profileDetails.firstName }}+{{ userData?.userDetails.profileDetails.lastName }}</h3
      >
    </div>
    <div class="flex flex-wrap">
      <div
        (click)="isUserLoggedIn()"
        class="cursor-pointer w-24 h-69px flex flex-col justify-center items-center text-center mx-2 px-6 border rounded-md border-custom-border"
      >
        <div>
          <svg width="13" height="11" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.5 11.5V15.5C16.5 16.0523 16.0523 16.5 15.5 16.5H1.5C0.947715 16.5 0.5 16.0523 0.5 15.5V1.5C0.5 0.947715 0.947715 0.5 1.5 0.5H15.5C16.0523 0.5 16.5 0.947715 16.5 1.5V5.5M11.5 8.5H13.5M17.5 11.5H9.5C8.94772 11.5 8.5 11.0523 8.5 10.5V6.5C8.5 5.94772 8.94772 5.5 9.5 5.5H17.5C18.0523 5.5 18.5 5.94772 18.5 6.5V10.5C18.5 11.0523 18.0523 11.5 17.5 11.5Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <p class="text-white pt-2 text-xs"> {{ translation?.View_Wallets }}</p>
      </div>
      <div
        (click)="isUserLoggedIn()"
        class="cursor-pointer w-24 h-69px flex flex-col justify-center items-center text-center mx-2 px-6 border rounded-md border-custom-border"
      >
        <div>
          <img class="pending-img-set" src="assets/images/pending.png" alt="" />
        </div>
        <p class="text-white pt-2 text-xs">{{ translation?.Pending_Transactions }}</p>
      </div>
      <div
        (click)="isUserLoggedIn()"
        class="cursor-pointer w-24 h-69px flex flex-col justify-center items-center text-center mx-2 px-6 border rounded border-custom-border"
      >
        <div>
          <svg width="13" height="11" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.5 11.5V15.5C16.5 16.0523 16.0523 16.5 15.5 16.5H1.5C0.947715 16.5 0.5 16.0523 0.5 15.5V1.5C0.5 0.947715 0.947715 0.5 1.5 0.5H15.5C16.0523 0.5 16.5 0.947715 16.5 1.5V5.5M11.5 8.5H13.5M17.5 11.5H9.5C8.94772 11.5 8.5 11.0523 8.5 10.5V6.5C8.5 5.94772 8.94772 5.5 9.5 5.5H17.5C18.0523 5.5 18.5 5.94772 18.5 6.5V10.5C18.5 11.0523 18.0523 11.5 17.5 11.5Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <p class="text-white pt-2 text-xs">{{ translation?.View_History }}</p>
      </div>
      <div class="md:mt-0 mt-3" (click)="isUserLoggedIn()">
        <div class="w-52 mx-2 h-69px flex justify-between items-center rounded-md p-4 bg-blue relative overflow-hidden">
          <div class="flex items-center">
            <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.5 11.5V15.5C16.5 16.0523 16.0523 16.5 15.5 16.5H1.5C0.947715 16.5 0.5 16.0523 0.5 15.5V1.5C0.5 0.947715 0.947715 0.5 1.5 0.5H15.5C16.0523 0.5 16.5 0.947715 16.5 1.5V5.5M11.5 8.5H13.5M17.5 11.5H9.5C8.94772 11.5 8.5 11.0523 8.5 10.5V6.5C8.5 5.94772 8.94772 5.5 9.5 5.5H17.5C18.0523 5.5 18.5 5.94772 18.5 6.5V10.5C18.5 11.0523 18.0523 11.5 17.5 11.5Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p class="ml-2 pl-1 text-white text-xs">{{ translation?.Wallet_balance }}</p>
            <p class="font-bold ml-2 pl-1 text-white text-sm" *ngIf="isLoggedIn">₹ 0.00</p>
          </div>
          <div class="z-40 cursor-pointer">
            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle opacity="0.2" cx="14.5" cy="14.5" r="14" fill="#1C2572" fill-opacity="0.1" stroke="white" />
              <path d="M14.5 9.5V19.5M9.5 14.5H19.5" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="w-40 h-40 bg-round-edit rounded-full absolute pose-main"> </div>
          <div class="w-20 h-20 bg-round-edit-2 rounded-full absolute pose-main-two"></div>
        </div>
      </div>
    </div>
  </div>
</div>
