<label class="text-dropdown-custom font-medium text-xs mb-1 flex items-center" for="">Upload profile picture</label>
<div class="my-2">
  <div
    class="relative h-[72px] rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer"
  >
    <div class="absolute">
      <div class="flex flex-col items-center">
        <span class="block text-xs text-[#181818] font-normal">Click here or drop here to upload</span>
        <span class="block text-[#1C2572] text-xs font-medium mt-2">CHOOSE FILE</span>
      </div>
    </div>
    <input type="file" class="cursor-pointer h-full w-full opacity-0" name="" accept="image/jpeg" />
  </div>
  <p class="text-xs text-log-continue mt-3"> (Upload file upto 5MB in PNG, JPEG, PDF format) </p>
</div>
