<div class="modal-full">
  <div class="min-h-screen w-full flex justify-center items-center">
    <div style="width: 475px" class="bg-white rounded-[8px] p-3 mx-auto shadow-[17px_34px_114px_14px_rgba(0,0,0,0.1)]">
      <div class="rounded-[8px] border border-pops-border mx-auto p-7 pb-2 bg-white">
        <div class="flex justify-end pb-5 pt-1">
          <div class="cursor-pointer" (click)="activeModal.dismiss()">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle
                cx="11"
                cy="11"
                r="10"
                stroke="#DBDBDB"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path d="M14 8L8 14" stroke="#DBDBDB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8 8L14 14" stroke="#DBDBDB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex items-center justify-center flex-col text-center">
            <div style="width: 30%">
              <img src="/src/assets/images/cs.png" />
            </div>
            <h2 class="text-xl font-bold text-mobile-ver">Welcome James</h2>
            <p class="text-log-continue mt-3 font-medium text-sm mx-4"
              >You haven’t set any security questions please contact support to reset your PIN.</p
            >
          </div>
          <div class="text-center w-full mt-5 p-6 bg-support-color">
            <div class="flex items-center mb-5">
              <div class="mr-5">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.7717 14.0325L15.9494 13.7103C15.2717 13.6325 14.605 13.8658 14.1272 14.3436L12.0828 16.3881C8.93833 14.7881 6.36055 12.2214 4.76055 9.06583L6.8161 7.01028C7.29388 6.5325 7.52722 5.86583 7.44944 5.18805L7.12722 2.38805C6.99388 1.26583 6.04944 0.421387 4.9161 0.421387H2.99388C1.73833 0.421387 0.693882 1.46583 0.77166 2.72139C1.36055 12.2103 8.94944 19.7881 18.4272 20.3769C19.6828 20.4547 20.7273 19.4103 20.7273 18.1547V16.2325C20.7383 15.1103 19.8939 14.1658 18.7717 14.0325Z"
                    fill="#6B45BD"
                  />
                </svg>
              </div>
              <p class="text-tag-custom font-medium text-sm">Call Support- <span class="ml-4">+91 9872648931</span> </p>
            </div>
            <div class="flex items-center">
              <div class="mr-4">
                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M23.4883 5.32031H3.98828C3.5573 5.32031 3.14398 5.49152 2.83923 5.79626C2.53449 6.10101 2.36328 6.51434 2.36328 6.94531V19.9453C2.36328 20.3763 2.53449 20.7896 2.83923 21.0944C3.14398 21.3991 3.5573 21.5703 3.98828 21.5703H23.4883C23.9193 21.5703 24.3326 21.3991 24.6373 21.0944C24.9421 20.7896 25.1133 20.3763 25.1133 19.9453V6.94531C25.1133 6.51434 24.9421 6.10101 24.6373 5.79626C24.3326 5.49152 23.9193 5.32031 23.4883 5.32031ZM21.7008 6.94531L13.7383 12.4541L5.77578 6.94531H21.7008ZM3.98828 19.9453V7.68469L13.2752 14.1116C13.4112 14.2059 13.5727 14.2565 13.7383 14.2565C13.9038 14.2565 14.0654 14.2059 14.2014 14.1116L23.4883 7.68469V19.9453H3.98828Z"
                    fill="#6B45BD"
                  />
                </svg>
              </div>
              <p class="text-tag-custom font-medium text-sm"
                >Email Support- <span class="ml-4">help@mobiquity.com</span>
              </p>
            </div>
            <button
              style="display: none"
              class="bg-login-btn-custom px-14 font-medium text-sm text-indigo-900 rounded-md py-3 hover:bg-progress hover:text-indigo-200 transition-all"
              >Login</button
            >
          </div>
        </div>
      </div>
    </div></div
  >
</div>
