<!-- <mobiquity-pay-logo-header></mobiquity-pay-logo-header> -->
<mobiquity-pay-pre-login-slider></mobiquity-pay-pre-login-slider>
<div class="container px-3 md:px-0 mx-auto mt-20 mb-40">
  <div class="desc mb-12">
    <h3 class="text-dropdown-custom font-semibold text-base mb-2">
      {{ translation?.About_MobiquityPay }}
    </h3>
    <p class="text-custom-desc text-sm font-semibold">
      {{ translation?.About_MobiquityPay_Description }}
    </p>
  </div>
  <div class="desc mb-12">
    <h3 class="text-dropdown-custom font-semibold text-base mb-2">
      {{ translation?.Online_Recharge_Title }}
    </h3>
    <p class="text-custom-desc text-sm font-semibold">
      {{ translation?.Online_Recharge_Description }}
    </p>
  </div>
  <div class="desc mb-12">
    <h3 class="text-dropdown-custom font-semibold text-base mb-2">
      {{ translation?.Utility_Bill_Payments_Title }}
    </h3>
    <p class="text-custom-desc text-sm font-semibold">
      {{ translation?.Utility_Bill_Payments_Description }}
    </p>
  </div>
  <div class="desc mb-12">
    <h3 class="text-dropdown-custom font-semibold text-base mb-2">
      {{ translation?.Other_Financial_Services_Title }}
    </h3>
    <p class="text-custom-desc text-sm font-semibold">
      {{ translation?.Other_Financial_Services_Description }}
    </p>
  </div>
</div>
<!-- <mobiquity-pay-footer></mobiquity-pay-footer> -->
