<div [formGroup]="form" class="form-group">
  <label class="text-dropdown-custom text-xs mb-2 font-medium" for="">{{ input?.label }}</label>
  <input
    class="text-xs pr-9 p-3 border rounded-md bg-input-custom outline-none w-full border-input-border"
    [placeholder]="input?.placeholder"
    [formControlName]="input?.key"
    [id]="input?.key"
    [type]="input?.type"
  />
  <!-- <div *ngIf="f[input.key].touched && f[ input.key].invalid" class="alert alert-danger">
    <div *ngIf="f[input.key].errors && f[input.key].errors['required']">{{input.label}} is required.</div>


  </div>-->
</div>
